name: append bike traffic data data every 15 mins

on:
  push:
  workflow_dispatch:
  schedule:
    - cron:  '*/15 * * * *'

jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
    - name: Check out this repo
      uses: actions/checkout@v4
    - name: append new bike traffic data
      run: |-
        curl \
          -H "Authorization: Bearer ${{ secrets.TINYBIRD_TOKEN }}" \
          -X POST "${{ secrets.TINYBIRD_HOST }}/v0/datasources?mode=append&name=bikes" \
          -d url='https://valencia.opendatasoft.com/api/explore/v2.1/catalog/datasets/punts-mesura-bicis-espires-electromagnetiques-puntos-medida-bicis-espiras-electr/exports/csv\?lang\=en\&timezone\=Europe%2FMadrid\&use_labels\=true\&delimiter\=%3B'
