name: append air quality data data every 30 mins

on:
  push:
  workflow_dispatch:
  schedule:
    - cron:  '*/30 * * * *'

jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
    - name: Check out this repo
      uses: actions/checkout@v4
    - name: append new air quality data
      run: |-
        curl \
          -H "Authorization: Bearer ${{ secrets.TINYBIRD_TOKEN }}" \
          -X POST "${{ secrets.TINYBIRD_TOKEN }}/v0/datasources?mode=append&name=air" \
          -d url='https://valencia.opendatasoft.com/api/explore/v2.1/catalog/datasets/estacions-contaminacio-atmosferiques-estaciones-contaminacion-atmosfericas/exports/csv?lang=en&timezone=Europe%2FMadrid&use_labels=false&delimiter=%3B'
