name: append car traffic data data every hour

on:
  push:
  workflow_dispatch:
  schedule:
    - cron:  '0 * * * *'

jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
    - name: Check out this repo
      uses: actions/checkout@v4
    - name: append new car traffic data
      run: |-
        curl \
          -H "Authorization: Bearer ${{ secrets.TINYBIRD_TOKEN }}" \
          -X POST "${{ secrets.TINYBIRD_HOST }}/v0/datasources?mode=append&name=cars" -d url='https://valencia.opendatasoft.com/api/explore/v2.1/catalog/datasets/punts-mesura-trafic-espires-electromagnetiques-puntos-medida-trafico-espiras-ele/exports/csv\?lang\=en\&timezone\=Europe%2FMadrid\&use_labels\=true\&delimiter\=%3B'
